@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.App {
  text-align: center;
}
.navBar {
  margin: 1rem;
  text-align: justify;
  border: 2px solid black;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: beige;
  border-radius: 1rem;
  min-width: fit-content;
}
.navitem {
  margin: 1rem;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: solid black 2px;
  margin: 1rem;
  border-radius: 1rem;
  background-color: rgb(206, 112, 112);
  padding: 1rem;
}

.reviewslist {
  background-color: rgb(216, 172, 172);
  padding-bottom: 1rem;
  overflow: hidden;
  margin: 1rem;
  border: solid black 2px;
}

.comment {
  background-color: rgb(187, 81, 81);
  padding-bottom: 1rem;
  overflow: hidden;
  margin: 1rem;
  border: solid black 2px;
}
.reviewcardheader {
  background-color: rgb(216, 207, 207);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  border: solid black 2px;
}

.commentbody {
  overflow-x: hidden;
  overflow-y: auto;
}
.commentcardparent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h1 {
  margin: 2rem;
}
h2 {
  margin: 2rem;
}

h3 {
  margin: 2rem;
}
.reviewBody {
  margin: 1rem;
  text-align: justify;
}

.commentbox {
  padding: 1.5px;
}

/* .commentboxparent {
  text-align: center;
}

.commentboxchild {
  margin: auto;
} */

.commentcard {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  border: solid black 2px;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: rgb(216, 172, 172);
  padding: 1rem;
}
.photo {
  margin: 1rem;
  border-radius: 1rem;
  height: 150px;
  width: fit-content;
}
.singlephoto {
  margin: 1rem;
  border-radius: 1rem;
  max-width: 340px;
}
p {
  padding: 0.5rem;
}

section {
  border-radius: 1rem;
  overflow: hidden;
}
.title {
  padding: 1rem;
  font-size: 2.5rem;
  border: 2px solid red;
  margin: 1rem;
}

ul {
  list-style-type: none;
}
button {
  padding: 1rem;
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  .card {
    height: 550px;
    min-width: 450px;
    text-align: center;
  }
  .photoParent {
    display: flex;
    justify-content: center;
  }
}

.card:hover {
  box-shadow: -15px 15px 15px hsl(700, 39%, 29%),
    15px 15px 15px hsl(700, 39%, 29%);
}
